.heroSection {
  background-color: #f9f5f4;
}
.philosophyContainer {
  width: 70%;
}
.philosophyText {
  font-family: Inter;
  text-transform: uppercase;
}
.philosophyMain {
  font-size: 2.2rem;
  margin-top: 2rem;
  line-height: 3.5rem;
  font-weight: 400;
}
