* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  //   background-color: #f9f5f4;
  background-color: #fff;
  color: #444;
  //   padding-top: 70px;
}
.container {
  width: 1400px;
  margin: 0 auto;
  padding: 3rem 0;
}
h1 {
  font-size: 6rem;
  font-weight: 400;
  font-family: noto-serif;
}
