.header {
  padding: 0.5rem 0;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.navLink {
  font-family: Inter;
  color: #444;
  text-decoration: none;
  transition: all ease 0.2s;
  &:hover {
    color: #fbac41;
  }
}
