.header {
  padding: 0.5rem 0;
  //   background-color: #f9f5f4;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 0px rgba($color: #000000, $alpha: 0.3);
  height: 70px;
  width: 100%;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  width: 1400px;
  margin: 0 auto;
}
.navLink {
  font-family: Inter;
  color: #444;
  text-decoration: none;
  transition: all ease 0.2s;
  &:hover {
    color: #ffbc2d;
    text-decoration: underline;
  }
}
.logoLink {
  font-family: Noto_Serif;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 600;
  color: #000;
}
